################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SASgenerator/FileContentIndex
/.vs/SASgenerator/DesignTimeBuild
/.vs/SASgenerator/v17
